@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />


<body>
    

<h2>Studenti:</h2>

    <div class="container" >
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 295px; height: 550px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                    <div class="view overlay">
                        <img style="width: 295px; height: 350px" src="~/Content/images/56697056_2863988780285521_3731458094887075840_o.jpg" />
                        <div class="card-body">
                            <p class="card-text" style="text-decoration:underline">
                                David Grbac
                            </p>
                            <p class="card-text" style="text-align: left">
                                Vođa, nadgledavanje projekta te
                                briga o kvalitetnoj strukturi programa,
                                Pripomoć u svim dijelovima izrade projekta
                                <br />
                                <br />
                                Mail: david.grbac@student.mev.hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 295px; height: 550px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                    <div class="view overlay"> 
                        <img style="width: 295px; height: 350px" src="~/Content/images/74632529_2389011991414144_1461815861772812288_o.jpg" />
                        <div class="card-body">
                            <p class="card-text" style="text-decoration:underline">
                                Borna Hrastovec
                            </p>
                            <p class="card-text" style="text-align: left">
                                Glavna desna ruka vođe,
                                Zadužen za bazu podataka te 
                                veliki dio back enda
                                <br />
                                <br />
                                Mail: borna.hrastovec@student.mev.hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 295px; height: 550px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                    <div class="view overlay">
                        <img style="width: 295px; height: 350px" src="~/Content/images/30821629_170650547093499_4781238130984881521_o.jpg" />
                        <div class="card-body">
                            <p class="card-text" style="text-decoration:underline">
                                Bruno Filip
                            </p>
                            <p class="card-text" style="text-align: left">
                                Pisanje programa za <br />
                                autentifikaciju i autorizaciju
                                <br />
                                <br />
                                Mail: bruno.filip@student.mev.hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="width: 295px; height: 550px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                    <div class="view overlay">
                        <img style="width: 295px; height: 350px" src="~/Content/images/46519013_2384765268219441_8328298623280349184_o.jpg" />
                        <div class="card-body">
                            <p class="card-text" style="text-decoration:underline">
                                Adrian Liber
                            </p>
                            <p class="card-text" style="text-align: left">
                                Kodiranje vizualnog<br />
                                dijela web stranice
                                <br />
                                <br />
                                Mail: adrian.liber@student.mev.hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 295px; height: 550px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                    <div class="view overlay">
                        <img style="width: 295px; height: 350px" src="~/Content/images/62519626_1476865069105262_4405187486939086848_o.jpg" />
                        <div class="card-body">
                            <p class="card-text" style="text-decoration:underline">
                                Ana Horvatić
                            </p>
                            <p class="card-text" style="text-align: left">
                                Pisanje dokumetacije <br />
                                i dopuna baze, web dizajn
                                <br />
                                <br />
                                Mail: ana.horvatic@student.mev.hr
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>