@model IEnumerable<DABAB.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

<body>
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup">
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm">
                    <div class="card" >
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="@item.ImagePath" style="width: 250px; height: 250px;"
                                 alt="@item.Title">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title">@item.Title</h4>
                            <!-- Text -->
                            <p class="card-text" style="max-height:50ch; -webkit-line-clamp: 5;">
                                @item.Description
                            </p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Detalji</a>
                        </div>
                    </div>
                </div>

            }
    </div>

    <!-- Card -->
    <!-- Card -->


</body>