@using DABAB.Models;
@model Comment

@{
    ViewBag.Title = "Add a new comment";
}

<h2>Add a new comment: </h2>
<div>
    @using (Html.BeginForm("AddComment", "Movie", FormMethod.Post))
    {
        @Html.TextAreaFor(m => Model.Text);
        <br />
        <button class="btn-primary" type="submit">Add comment</button>
    }
</div>

