@using DABAB.Models;
@model List<Comment>
@{
    ViewBag.Title = "Comments";
}


<h2>Komentari:</h2>
<table class="table">
    <tr>
        <th>Korisničko ime</th>
        <th>Komentar</th>
    </tr>
    @foreach (Comment comment in Model)
    {
        <tr>
            <th>@comment.Username</th>
            <th>@comment.Text</th>
        </tr>
    }
</table>



