@using DABAB.Models;
@model User

@{
    ViewBag.Title = "Profile";
}

<div style="margin-top:15%">
    <h2>Hello, @Model.Name</h2>
    <button>Settings</button>

    <br />
    <h2>Your movie lists:</h2>

   
</div>

