@using DABAB.Models;
@model User

@{
    ViewBag.Title = "Settings";
}

<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />


<h2>Promjena podataka:</h2>

<div>
    <br />
    <div><b>Trenutno ime:</b></div> <div>@Model.Name</div>
    <button>Promjeni ime</button>
    <br />
    <br />
    <p>Password</p>
    <button>Change password</button>
</div>
