@using DABAB.Models;
@model User

@{
    ViewBag.Title = "Settings";
}

<h2>Settings:</h2>

<div>
    <br />
    <p>E-mail</p>
    <p>@Model.Email</p>
    <button>Change E-mail</button>

    <br/>
    <p>Password</p>
    <button>Change password</button>
</div>
