body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1C2331 !important;
}

html, body {
   background-color: #1C2331;
   color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #1C2331;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, p {
    color: white;
}
hr {
    border-color:white !important;
}
.card {
    color: black;
    max-height: 100ch;
    -webkit-line-clamp: 5
}

.card-text {
    color: black;
    -webkit-line-clamp: 5
}

.table a{
    color:white;
}
.tablestyles{
    color:white;
}
td, tr {
    color: white;
}
a {
    color: white;
}