body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: gray !important;
}

html, body {
    background-color: gray;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: gray;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, p {
    color: white;
}

hr {
    border-color: white !important;
}

.card {
    color: black;
    max-height: 100ch;
    -webkit-line-clamp: 5
}

.card-text {
    color: black;
    -webkit-line-clamp: 5
}

.table {
    color: white;
}

.text-white {
    color: white;
}

p {
    color: white;
}

.bijelo {
    color: white;
}

.mainContainer{
    text-align:center;
}

.rating {
    position: relative;
    transform: translateX(-25%);
    direction: rtl;
    display: flex;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: dimgray;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: gold;
    top: 0;
    opacity: 0;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);

}

.rating input:checked ~ label:after {
    opacity: 1;
}


#movieInfo {
    margin-top: 25px;
    text-align: center;
    border: 1px solid;
    position: relative;
    background-color: lightcoral;
    box-shadow: 15px 15px 3px rgba(0,0,0,.5);
}

#movieImage {
    position: relative;
}

.pagination li{
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 8px;
    margin: 0 2px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

        .pagination a:active {
            background-color: #E65353;
            color: green;
        }
    .pagination a:focus {
        background-color: #E65353;
        color: green;
    }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

#loginDiv {
    position: relative;
    margin-top: 15%;
    width: 500px;
    height: 250px;
}
.form-horizontal {
    background-color: lightcoral;
    width: 520px;
    margin:20px auto;
}
.form-horizontal input {
    border-radius: 35px;
}

.form-horizontal input:focus {
    border: 0 !important;
}